<style>
body, html {
  margin: 0px; 
  padding: 0px; 
}

canvas {
  z-index: 999; 
  margin: 0px; 
  padding: 0px; 
  background-color: transparent; 
  position: absolute; 
}

h1, p {
  text-align: center; 
}
</style>
